<div class="notifications-container">
  <div
    *ngFor="let n of notifications; trackBy: trackById"
    class="notification-toast"
    [class.visible]="n.visible"
    [class.success]="n.type === 'success'"
    [class.error]="n.type === 'error'"
    [class.info]="n.type === 'info'"
    (click)="dismiss(n.id)"
  >
    <div class="toast-icon-wrapper">
      <ng-container [ngSwitch]="n.type">
        <i *ngSwitchCase="'success'" class="fa-solid fa-circle-check"></i>
        <i *ngSwitchCase="'error'" class="fa-solid fa-circle-exclamation"></i>
        <i *ngSwitchDefault class="fa-solid fa-circle-info"></i>
      </ng-container>
    </div>
    <span class="toast-message">{{ n.message }}</span>
    <button type="button" class="toast-close-btn" (click)="dismiss(n.id); $event.stopPropagation()">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
</div>
